# PyInstaller build artifacts
build/
dist/
*.spec

# Logs
trimui_uploader_*.log

# Python bytecode
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Config
trimui_uploader.json

# icon
icon.ico